extends layout

block content
  div
    h1 File Metadata Microservice
    br
    h3 File #{file} 
    h3 Size: #{size}
    br
    br
    br
  footer
    p Running on node with Express, Jade and Stylus
    p Inspired by Flavio Ferreira
      
    