extends layout

block content
  div
    h1 File Metadata Microservice
    br
    br
    h1 Page not found
    br
    br
    br
    br
  footer
    p Running on node with Express, Jade and Stylus
    p Inspired by Flavio Ferreira
      
    